<!DOCTYPE html>
<html lang="en">
<head>
    {{>link}}
</head>
<body>
    {{!-- navbar --}}
    {{>nav}}
    {{!-- main content --}}
    <div class="container-fluid ">
        <div class="row weather-div">
            <div class="col-md-10 col-12 mx-auto main_div">
                <div class="main_content">
                    <form class="temp_form "action="">
                        <input type="text" id="cityname" placeholder="Enter city name" autocomplete="off">
                        <input type="submit" value="Search" id="submitbutton">
                    </form>
                </div>
                <div class="tempinformation">
                    <div class="top_layer">
                        {{!-- <p id="time"></p> --}}
                        <p id="day">Tuesday</p>
                        <p id="today_date">13 Oct</p>
                    </div>
                    <div class="main_layer">
                        <p id="outcity">Get output below</p>
                        <div class="middle_layer data_hide">
                            <p id="temp"><span id="real">0</span><sup>o</sup>C</p>
                            <p id="temp_status"><i class="fa fa-cloud"  aria-hidden="true"></i></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {{!-- footer --}}
    {{>footer}}
    {{!-- script --}}
    {{>script}}
</body>
</html>